.header {
  padding-top: 30px;
}

.header__inner {
  display: flex;
  align-items: center;
}


.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;

}

.navbar__item {
  list-style-type: none;
  margin-right: 30px;
}

.navbar__item:nth-child(5) {
  margin-right: 0;
}

.navbar__item-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  color: #333333;
  text-decoration: none;
}

.navbar__link-last {
  color: #666666;
  border-bottom: 1px solid #333333;
}

.header__btn-box {
  display: none;
  width: 100%;
}

.header__btn {
  display: none;
  font-size: 32px;
  color: #173A56;
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 520px) {
  .navbar {
    display: none;
  }

  .header__btn-box {
    display: block;
  }

  .header__btn {
    display: block;
    margin-left: auto;
  }
}