

.info__inner {
  margin-top: 70px;
  padding-bottom: 70px;
}

.info__list {
  display: flex;
  justify-content: space-between;
}

.info__item {
  width: 280px;
  list-style-type: none;
}

.info__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #222222;
}

.info__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #333333;
}

.info__span-box {
  width: 44px;
  display: flex;
  justify-content: space-between;
}

.info__span {
  width: 8px;
  height: 8px;
  background: #DDDDDD;
}


.info__link {
  padding-left: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: #EA625C;
  text-decoration: none;
  border-left: 3px solid #EA625C;
}


@media only screen and (max-width: 520px) {
  .info__list {
    display: flex;
    flex-direction: column;
  }
  .info__item {
    width: 280px;
    margin: 0 auto;
  }
}